/* ---------------------------GLOBAL---------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
}

.section_header_bold {
  font-size: 28px;
  font-weight: bold;
  color: #F36819;
}
.section_header_regular {
  font-size: 28px;
  color: #283647
}

h2 {
  font-size: 28px;
  color: #F36819
}

h3 {
  font-size: 20px;
  letter-spacing: 2px;
  color: #F7931D;
}

p {
  font-size: 14px;
  line-height: 20px;
}

button {
  background-image: linear-gradient(to right, #F36819 , #F7931D);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: none;
  filter: drop-shadow(0px 2px 2px #000000);
}

/* ---------------------------HEADER---------------------------------- */

.header {
  height: 60px;
  background: #1676DD;
  display: flex;
  justify-content: center;
}

#logo {
  padding: 10px;
}

/* ---------------------------CAROUSEL---------------------------------- */

#carousel_image_hero {
  background-image: linear-gradient(to right, rgba(243,104,25,0.3), rgba(0,0,0,0.3)), url('../src/components/assets/hero-img.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
}

#carousel_image_1 {
  background-image: linear-gradient(to right, rgba(243,104,25,0.3), rgba(0,0,0,0.3)), url('../src/components/assets/img1.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
}

#carousel_image_2 {
  background-image: linear-gradient(to right, rgba(243,104,25,0.3), rgba(0,0,0,0.3)), url('../src/components/assets/img2.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
}

@media only screen and (max-width: 600px){
  #carousel_image_hero {
    height: 200px !important;
  }
  #carousel_image_1 {
    height: 200px !important;
  }
  #carousel_image_2 {
    height: 200px !important;
  }

  div#carouselExampleIndicators {
    height: unset !important;
  }
}


.carousel {
  max-height: 509px;
}

.hero_text {
  font-weight: bold;
  font-size: 48px;
  color: white;
}

.carousel-control-next {
  display: none !important;
}
.carousel-control-prev {
  display: none !important;
}
.carousel-indicators {
  bottom: -50px !important;
}

@media only screen and (max-width: 600px){
  div.carousel-indicators {
    height: unset !important;
  }

}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background:lightgray;
}

.carousel-indicators .active{
  background:black;
}

.hero_box {
  position: absolute;
  z-index: 100;
  top: 300px;
  left: 300px;
  width: 1140px;
}

@media only screen and (max-width: 700px){
  .hero_box {
    left: 0px;
  }
}

@media only screen and (max-width: 600px){
  div.hero_box {
    display: none;
  }

  button#button_envelope {
    display: none;
  }
}

@media (max-width: 1300px){
  .hero_buttons {
    justify-content: unset !important;
  }
}

#button_envelope {
  height: 40px;
  width: 50px;
  border-radius: 5px 0px 0px 5px;
  padding: 2px;
}

#button_evelope_sticky {
  position: absolute;
  left: 96vw;
  top: 436px;
}

.hero_buttons {
  display: flex;
  justify-content: space-between;
}

#button_carousel {
  width: 215px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 2px;
}

/* ---------------------------PAGE---------------------------------- */


.grid_container_page {
  display: grid;
  grid-template-columns: 100px 300px 100px 300px;
  justify-content: center;
  padding: 80px 0px 30px 0px;
  grid-gap: 50px;
}

.grid_item_page {
  justify-self: center;
  display: flex;
  align-self: center;
}

#slanted_background {
  width: 100%;
}

.slanted_text {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 600;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 20%;
  margin-left: 20%;
  list-style: none;
  top: 970px;
  color: white;
  width: 70%;
  font-size: 25px;
}

@media (max-width: 1200px){
  div.slanted_text {
    font-size: 13px;
  }
}

@media (max-width: 1000px){
  div.slanted_text {
    display: none;
  }
}

@media (max-width: 600px) {
  .grid_container_page {
    display: grid;
    grid-template-columns: 10vw 30vw 10vw 30vw;
    justify-content: center;
    padding: 80px 0px 30px 0px;
    grid-gap: 50px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .grid_container_page {
    grid-template-columns: 10vw 30vw 10vw 30vw;
  }
}
/* ---------------------------PERCENTAGE---------------------------------- */

#button_percentage {
  width: 215px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 2px;
}

.percentage {
  font-weight: bold; 
  font-size: 55px;
  letter-spacing: 2px;
}

.percentage:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}

.percentage_text {
  width: 50%;
  color: #F7931D;
}


.percentage_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid_container_percentage {
  display: grid;
  padding: 90px;
}

.grid_item_percentage {
  display: flex;
  justify-content: space-between;
}


.grid_item_header {
  display: flex;
  justify-content: center;
}

.grid_item_percentage_button {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

#percentage_button_text {
  width: 50%
}

@media (max-width: 900px) {
  .grid_item_percentage {
    flex-wrap: wrap;
  }

  .grid_item_percentage_button {
    flex-wrap: wrap;
    font-size: 13px;
  }

  #percentage_button_text {
    width: 100%;
    margin-bottom: 20px;
  }
  
}



/* -------------------------------DESCRIPTION------------------------- */

.grid_container_description {
  display: grid;
}

#description_img {
  height: 350px;
  width: 705px;
}

.grid_item_description {
  display: grid;
  grid-template-areas: 'text img';
}

.description_text_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
  width: 60%;
}

@media (max-width: 900px) {
  .grid_item_description {
    display: grid;
    grid-template-areas: 'text img';
    display: flex;
    flex-wrap: wrap;
  }

  #description_img {
    height: 200px;
    width: 250px;
  }

}

@media (max-width: 600px) {
  #description_img {
    display: none;
  }
}


/* -------------------------------MODAL------------------------- */

.modal_label {
  font-size: 12px;
  color: white;
}

.modal-content {
  background-color: transparent !important;
  border: transparent !important;
  padding: 30px;
  display: grid;
}

.modal_enter_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.modal_enter_email_phone{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.modal_input{
  width: 100%;
  border-radius: 5px;
  height: 35px;
}

.modal_input_email_phone{
  width: 200px;
  border-radius: 5px;
  height: 35px;
}


.modal_gap {
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------FOOTER-----------------------------------------*/

.footer {
  padding: 45px;
  background: #e3e5e4;
  height: 200px;
  padding-top: 30px;
  margin-top: 70px;
}

@media (max-width: 700px) {
  .footer{
    height: 500px;
    padding: 10px;
  }
}

.footer_links {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.footer_links:hover {
  color: white;
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  cursor: pointer;
}

.social_media {
  display: flex;
  align-items: center;
}

.social_media i {
  padding-right: 38px; 
}

.social_media i:hover{
  color: #1676DD;
  cursor: pointer;
}
