body {
  font-family: 'Roboto', sans-serif;
}

.section_header_bold {
  font-size: 28px;
  font-weight: bold;
  color: #F36819;
}
.section_header_regular {
  font-size: 28px;
  color: #283647
}

h2 {
  font-size: 28px;
  color: #F36819
}

h3 {
  font-size: 20px;
  letter-spacing: 2px;
  color: #F7931D;
}

p {
  font-size: 14px;
  line-height: 20px;
}

button {
  background-image: linear-gradient(to right, #F36819 , #F7931D);
  border-radius: 5px;
  color: white;
}

/* ---------------------------HEADER---------------------------------- */

.header {
  height: 60px;
  background: #1676DD;
  display: flex;
  justify-content: center;
}

#logo {
  padding: 10px;
}

/* ---------------------------CAROUSEL---------------------------------- */

.carousel {
  max-height: 509px;
}

/* ---------------------------PAGE---------------------------------- */


.grid_container_page {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 90px 90px;
  justify-content: center;
  padding: 50px;
}

.grid_item_page {
  justify-self: center;
  display: flex;
  align-self: center;
}

#slanted_background {
  width: 100%;
}

.slanted_text {
  position: absolute;
  z-index: 1;
  top: 1000px;
  left: 600px;
  color: white;
}

/* ---------------------------PERCENTAGE---------------------------------- */

#button_percentage {
  width: 215px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 2px;
}

.percentage {
  font-weight: bold; 
  font-size: 55px;
  letter-spacing: 2px;
}

.grid_container_percentage {
  display: grid;
  padding: 90px;
}

.grid_item_percentage {
  display: flex;
  justify-content: space-between;
}


.grid_item_header {
  display: flex;
  justify-content: center;
}

.grid_item_percentage_button {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

/* -------------------------------DESCRIPTION------------------------- */

.grid_container_description {
  display: grid;
}

#description_img {
  height: 350px;
  width: 705px;
}

.grid_item_description {
  display: flex;
  justify-content: space-between;
}

.description_text_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* -------------------------------FOOTER------------------------- */

.footer {
  background: #EEEEEE;
  height: 300px;
  padding-top: 30px;
  margin-top: 70px;
}

/* -------------------------------MODAL------------------------- */

.modal_label {
  font-size: 12px;
  color: white;
}

.modal-content {
  background-color: transparent !important;
  border: transparent !important;
  padding: 30px;
  display: grid;
}

.modal_enter_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.modal_enter_email_phone{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.modal_input{
  width: 100%;
  border-radius: 5px;
  height: 35px;
}

.modal_input_email_phone{
  width: 200px;
  border-radius: 5px;
  height: 35px;
}


.modal_gap {
  display: flex;
  flex-direction: column;
}

